body {
    display: block;
    align-self: center;
    margin-left: 16px;
}

section { 
    display: block;
    background-color: rgb(200, 200, 200);
    border: 24px;
    border-radius: 2%;
}

form {
    display:inline-block;
    width: 400px;
}

form input, button {
    width: 300px;
    padding: 4px;
    margin: 8px;
    font-size: 14px;
}

form button {
    color: white;
    background-color: rgb(89, 167, 89);
    font-weight: bold;
}

.error-message {
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: none;
}

.success-message {
    color: white;
    background-color: rgb(89, 167, 89);
    font-size: 16px;
    font-weight: bold;
    display: none;
}