/* Configurações de Estilo para a Página central Games Shop */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Configurações de Cabeçalho */
header, form button{
    padding: 16px;
    background-color: #182C61;
    color: #ecf0f1;
    font-family: "Bungee", sans-serif;
}

header h1{
    font-weight: normal;
}

body{
    font-family: "Roboto", sans-serif;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container, section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Configurações da área "Sobre" do site */
section .container {
    align-items: flex-start;
}

section h2, h3 {
    font-family: "Bungee", sans-serif;
    font-weight: normal;
    margin-bottom: 16px;
}

.fachada {
    width: 40%; 
    margin-right: 16px;
}

section{
    padding: 24px, 0;
    color: #182C61;
}

section p {
    margin-bottom: 8px;
}

.lista-logos li img {
    height: 36px;
    margin-right: 10px;
    width: auto;
}

.lista-logos li {
    display: inline;
}
/* Configurações do rodapé e a seção "Contato" */

#contato .container {
    display: block;
}

.contato-metodos {
    display: flex;
    justify-content: space-between;
}

form input, form textarea, form button {
    display: block;
    width:320px;
    margin-bottom: 8px;
    padding: 2px;
    resize: none;
    font-family: "Roboto", sans-serif;
}

form textarea {
    height: 120px;
}

form input, form textarea:focus {
    outline-color: #182C61;
}

form button {
    cursor: pointer;
    padding: 18px;
}

form button:hover {
    background-color: #3653a2;
}

#contato ul li, #contato ul li a {
    display: inline;
    margin-right: 8px;
    text-decoration: none;
}

.redesocial {
    width: 36px;
}

footer {
    background-color: #182C61;
    color: #ecf0f1;
    padding: 24px;
}